{% extends 'base.html' %}
{% block title %}
inicio
	{% endblock %}
{% block contenido %}
<div >
		
		<div class="col-md-12">
			<p><h1>¿Que es  fútbol?</h1></p>
			<p> es un deporte de equipo jugado entre dos conjuntos de once jugadores cada uno y algunos árbitros que se ocupan de que las normas se cumplan correctamente.</p>
			<p><h1>¿Por qué es importante el fútbol?</h1></p>
			<p>En el país de España, fútbol es más que un deporte, es un estilo de vida. Algunos españoles piensan que fútbol es el centro de su mundo. Ellos paran sus vidas cuando hay un partido importante, por ejemplo, la Copa Mundial. Los bares, los restaurantes y los cafés se llenan de gente. Están mirando y gritando a la telé sobre el partido. Millones de españoles prestan atención a todos los partidos. La historia y la importancia de este deporte han hecho a España lo que es hoy.</p>
		</div>
		

</div>
{% endblock %}